html {
    /* from https://stock.adobe.com/images/grunge-background-of-black-and-white-abstract-of-cracks-chips-dot-isolated-on-transparent-background-png-file/566224854?prev_url=detail */
    /* based on https://www.w3schools.com/cssref/pr_background-image.php */
    background-image: url(AdobeStock_566224854_EDITED.png);
    /* from https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/named-color */
    background-color: #101010;
}

h1 {
    color: red;
    font-size: 10em;
    line-height: 0.65;
    font-weight:100;
    letter-spacing: -10%;

    text-align:center;
    
}

/* sheesh */
body {
    width:100%;
}

#cave1 {
    width:100%;
}

#cave2 {
    /* based on https://stackoverflow.com/questions/32875695/flip-mirror-an-image-horizontally-vertically-with-css */
    transform: scale(-1,1);
}



img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}



h3{
    color: white;
}

p{
    width: 400px;
    color: white;
    /* based on https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/quotes */
    /* and https://www.freecodecamp.org/news/smart-quotes-single-quote-and-double-quotation-mark-for-copy-paste/ */
    quotes: "〝" "〞";
}

/* All normal text */
#normaltext p {
    color:white;
    font-family:'Times New Roman', Times, serif;
}

body{
    display: grid;
    place-items: center;
}

#finalline i {
    color: black;
    font-size: 500%;
    font-weight: 900;
}

#endingbox {
    background-color: red;
    width:100%;
    height: 900px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#titlebox {
    height: 900px;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

footer {
    height: 100px;
    
}

#footertxt {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}



#footertxt a {
    width: 200px;
    height: 100px;
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
}

#endingimg{
    width: 60%;   
}

#sicksvg {
    height: 40px;
}

/* final p */

#ftxt0grew {
    font-size: 1.5em;
}

#ftxt0sick {
    font-size: 2.5em;
    /* transform: rotate(10deg); */
        /* doesn't work inline */
}

#ftxt1 {
    font-size: 1em;
}

#ftxt2 {
    font-size: 1.5em;
}

#ftxt3 {
    font-size: 2.5em;
    line-height: 0.7;
}

#ftxt4 {
    font-size: 6.5em;
    line-height: 0.7;
}


/* Fortunato */
/* based on https://stackoverflow.com/questions/6780614/css-how-to-position-two-elements-on-top-of-each-other-without-specifying-a-hei */

.forts {
    display: grid;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    /* text-align: center; */
    
}

.fort1 {
    /* based on https://stackoverflow.com/questions/32875695/flip-mirror-an-image-horizontally-vertically-with-css */
    transform: rotate(15deg);
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    /* transform: (120px, 50%); */
    font-size: 99px;
}

.fort2 {
    /* based on https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/transform */
    /* transform: translate(30px, 20px); */
    text-align: center;
    transform: rotate(-10deg) translate(-120px, -20px);
    grid-column: 1;
    grid-row: 1;
    font-size: 200px;
    opacity:0.3;
    /* transform: rotate(-30px, -20px); */
    
}

.fort3 {
    transform: rotate(2deg);
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    font-size: 300px;
    opacity: 0.2;
}

#one2 {
    transform: rotate(-10deg);
}

#two2 {
    transform: rotate(20deg);
}

#three2 {
    transform: rotate(-7deg);
}

.hl {
    font-size: 1.5em;
}

.fancyhl {
    color:crimson;
    /* font-weight: bolder; */
}